.btn {
  background-color: lightgray;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 75px;
  margin: 2px;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}

.red {
  color: white;
  background-color: red;
}

.navy {
  color: white;
  background-color: navy;
}

.large{
  width: 24rem;
  border-radius: 5px;
}