* {
  margin: 0;
  padding: 0;
  font-family: "arial";
}

.nav-todo {
  color: white;
  background-color: navy;
  text-align: center;
  padding: 12px;
  font-size: 28px;
  font-weight: bold;
}

#textarea-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#add-Task:hover {
  opacity: 0.8;
}

#task-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 300px;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  padding-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
  box-sizing: border-box;
}

.task-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.task-text {
  border-left: 5px solid red;
  padding-left: 10px;
  height: 40px;
  padding-top: 12px;
  color: navy;
}
